vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|09 Jun 2002 12:45:24 -0000
vti_extenderversion:SR|4.0.2.4426
vti_cacheddtm:TX|09 Jun 2002 12:45:24 -0000
vti_filesize:IR|5063
vti_cachedlinkinfo:VX|S|leftHighlight.gif S|middle.gif S|right.gif S|left.gif S|leftHighlight.gif S|leftActive.gif S|middle.gif S|middleActive.gif S|right.gif S|rightActive.gif
vti_cachedsvcrellinks:VX|FSUS|wap/menus/skins/qnx/leftHighlight.gif FSUS|wap/menus/skins/qnx/middle.gif FSUS|wap/menus/skins/qnx/right.gif FSUS|wap/menus/skins/qnx/left.gif FSUS|wap/menus/skins/qnx/leftHighlight.gif FSUS|wap/menus/skins/qnx/leftActive.gif FSUS|wap/menus/skins/qnx/middle.gif FSUS|wap/menus/skins/qnx/middleActive.gif FSUS|wap/menus/skins/qnx/right.gif FSUS|wap/menus/skins/qnx/rightActive.gif
vti_backlinkinfo:VX|
